.hero-title {
  font-weight: 700;
  letter-spacing: -2px;
  font-size: clamp(13rem, 8vw, 13rem);
  line-height: 1.0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title span.block {
  display: block;
}

.hero-subtitle {
  font-size: clamp(1.2rem, 2vw, 2rem);
  margin-top: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #f5f5f5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
